<div class="row">
  <div class="col-md-8">
    <ul>
      <li>
        Food: {{food.name}}
      </li>
      <li>
        Price: {{food.price}}
      </li>
      <li>
        Description: {{food.description}}
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
          Order this food
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0)" {{ action "handleFoodOrder" "morning" food on="click"}}>Morning</a>
          </li>
          <li>
            <a href="javascript:void(0)" {{ action "handleFoodOrder" "day" food on="click"}}>Day</a>
          </li>
          <li>
            <a href="javascript:void(0)" {{ action "handleFoodOrder" "night" food on="click"}}>Night</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>