<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Food:</b> {{order.food.name}}
      </li>
      <li class="list-group-item">
        <b>Shift:</b>
        {{order.shift}}
      </li>
      <li class="list-group-item">
        <b>Status:</b> {{order.status}}
      </li>
      <li class="list-group-item">
        <b>Order By:</b>
        {{order.user.first_name}}
        {{order.user.last_name}}
      </li>
      <li class="list-group-item">
        <b>Order At:</b>
        {{order.created_at}}
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
          Actions
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {{#if hasAccess}}
            <li>
              <a href="#" {{ action "handleStatusChange" order "approved"}}>Approve</a>
            </li>
            <li>
              <a href="#" {{ action "handleStatusChange" order "rejected"}}>Reject</a>
            </li>
            <li>
              <a href="#" {{ action "handleStatusChange" order "served"}}>Served</a>
            </li>
          {{/if}}
          <li>
            <a href="#" {{ action "handleCancelOrder" order}}>Cancel</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>